@media (max-width: 1200px)
  .main_contact
    padding: 15px

  footer
    padding: 15px

  .main_contact
    padding: 10px

  footer
    padding: 10px

@media (max-width: 1000px)
  .contenedor-superior
    flex-direction: column
    align-items: center
    img
      flex: 100%
      margin: 10px 0
    table
      flex: 100%
      margin: 10px 0
  article
    margin-top: 10px

@media (max-width: 992px)
  .main_start
    height: 500px
    padding: 15px

  .header .redes a
    font-size: 1.5rem

@media (max-width: 768px)
  .main_start
    height: 400px
    padding: 10px

  .header .navbar .navbar-nav .nav-item .nav-link
    font-size: 0.9rem

@media (max-width: 576px)
  .main_start
    width: 100%
    height: 300px
    padding: 5px
    margin: 0 auto

  .header .navbar .navbar-nav .nav-item .nav-link
    font-size: 0.8rem

  footer .suscribite fieldset 
    padding: 10px
    legend
      font-size: 1rem

  footer p 
      font-size: 0.8rem

@media (max-width: 480px)
  .main_contact
    padding: 5px

  footer
    padding: 5px

@media (max-width: 768px)
  .display-4
    font-size: 2.5rem
  .display-5
    font-size: 2rem
@media (max-width: 576px)
  .display-4
    font-size: 2rem
  .display-5
    font-size: 1.5rem