@mixin flex-row-center
    display: flex
    justify-content: center
    align-items: center

@mixin margin-padding($m, $p)
    margin: $m
    padding: $p
    background: map-get($paletaColores, principal)