footer
  padding: 20px
  background-color: #f8f8f8

  form
    margin-bottom: 15px

    fieldset
      border: 5px solid #beefa9
      padding: 15px
      max-width: 100%
      text-align: center
      justify-content: center

      legend
        font-weight: bold

      label
        display: block
        margin-bottom: 3px

      input[type="text"]
        width: 60%
        padding: 7px
        box-sizing: border-box

      input[type="submit"]
        margin-top: 7px
        padding: 8px 15px

  p
    text-align: center
