.main_contact
  padding: 20px
  margin: 20px

  h1
    padding: 10px
    margin: 10px

  .form-group
    gap: 50px
    display: grid
    grid-template-columns: 1fr 1fr

  .info_contact div
    gap: 20px
    display: flex
    align-items: center
    
  form
    .col-md-6, .col-12, .col-md-4, .col-md-2
      margin-bottom: 10px

    label
      display: block
      margin-bottom: 5px

    input, select
      width: 100%
      padding: 8px
      box-sizing: border-box

  h2
    margin-top: 30px

  p
    margin: 5px 0px