.main_events
  align-items: center
  padding: 20px
  margin: 20px

  h1
    margin: 20px

    .eventos
      display: flex
      flex-direction: column

  .contenedor-superior
    display: flex

    img
      flex: 30%
      margin: 0 10px
      transition: transform $transition-duration
      &:hover
        transform: scale(0.9)

    table
      flex: 50%
      margin: 20px
      text-align: center
  
  article
    margin-top: 30px
    margin-left: 10px
    margin-right: 10px

.container_events
  .container
    h3
      margin-top: 40px
    img
      flex: 30%
      transition: transform $transition-duration
      &:hover
        transform: scale(0.9)
    p
      margin-top: 20px