.main_start 
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding: 20px
  margin: 20px auto
  border: 15px solid $bg-color
  background-image: $bg-image
  background-size: cover
  background-repeat: no-repeat
  width: 90%
  height: 700px
  text-align: center

  h1 
    font-size: 3rem
    margin-bottom: 20px

  a.bandcamp 
    font-size: 1.5rem
    color: $text-color
    text-decoration: none
    background-color: rgba(255, 255, 255, 0.8)
    padding: 10px 20px
    border-radius: 5px
    &:hover 
      background-color: rgba(255, 255, 255, 0.6)