.main_start
  display: inline-block
  padding: 20px
  margin-left: 70px
  border: 15px solid rgb(245, 253, 206)
  background-image: url(../assets/images/Campo1.webp)
  background-size: cover
  background-repeat: no-repeat
  width: 90%
  height: 700px
  box-sizing: border-box
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  h1 
    margin: 20px
    text-align: center
    font-size: 700%
    color: rgb(245, 253, 206)

  h2 
    margin: 0px 50px

  img
    width: 800px
    height: auto
    position: relative
    z-index: 2

  a
    background-color: #6e3606
    color: white
    margin: 15px
    padding: 15px 25px
    text-decoration: none
    border-radius: 15px
    font-weight: bolder
