.main_start
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding: 20px
  margin: 20px auto
  border: 15px solid $bg-color
  background-image: url(/assets/images/Campo1.webp)
  background-size: cover
  background-repeat: no-repeat
  width: 90%
  height: 700px
  text-align: center
  color: #f1efef

  .distintivo
    color: $primary-color
    font-family: $font-stack
    font-weight: bold
    margin-bottom: 20px
    font-size: 3em
    text-align: center
    padding: 1em
    background-color: $secondary-color
    border-radius: 10px

  @include box-shadow(0 3px 4px rgba(230, 16, 16, 0.1))

  &:hover
    color: darken($primary-color, 10%)
    background-color: lighten($secondary-color, 50%,)

  // h1
  //   margin-bottom: 20px

  a.bandcamp
    font-size: 1.5rem
    color: $text-color
    text-decoration: none
    background-color: rgba(255, 255, 255, 0.8)
    padding: 10px 20px
    border-radius: 10px
    &:hover
      background-color: rgba(51, 146, 11, 0.6)
