.main_band
  h1
    margin: 20px
    padding: 20px
    
.grid-container
  margin: 20px
  padding: 20px
  justify-items: center
  align-items: center

  .div_histori
    padding: 10px
    justify-content: center
    align-items: center
    h2
      text-align: center
    img
      width: 80%
      margin: 0px auto
      display: block
      transition: transform $transition-duration
      &:hover
        transform: scale(1.1) translateX(20px)

.franytiti
  .grid-fran, .grid-betsy
    text-align: center

  img
    width: 500px
    height: auto
    transition: transform $transition-duration
    &:hover
      transform: scale(1.1) translateX(20px)

  
  
  
  
  

  
  
  
  
  
