.grid-container
  margin: 20px
  padding: 20px
  justify-items: center
  align-items: center

  .div_banda1
    padding: 10px
    display: grid
    justify-content: center
    grid-template-columns: 1fr 1fr
    gap: 20px
    .grid-fran img
      width: 100%
      margin: 0px auto
      display: block
      justify-content: center
      align-items: center

      .display-4
        text-align: center