$bg-color: rgb(245, 253, 206)
$text-color: #070707
$primary-color: #b2d7f0
$secondary-color: #12131241
$font-stack: 'Helvetica Neue', sans-serif
$transition-duration: 1s
$breakpoint-sm: 576px
$breakpoint-md: 768px
$breakpoint-lg: 992px
$breakpoint-xl: 1200px
$color-header1: #064b06
$color-header2: #72f3668f